.title-bar {
    background: #e35557;
    color: #ffffff;
  }

.title-bar__subtitle {
  font-size: 1.3rem;
  font-weight: 400;
}
// Create a subtitle element for title-bar
// font size : 1.3 rem and font weight 400